:root {
    --color-hue: 210;
    --primary-color: hsl(var(--color-hue), 50%, 50%);
    --background-color: hsl(var(--color-hue), 60%, 30%);
    --hover-color: hsl(var(--color-hue), 55%, 40%);
    --border-color: hsl(var(--color-hue), 60%, 25%);
    --cursor: auto;
    --background-url: none;
    cursor: var(--cursor);
}

/* Navbar items */

._1SIMq {
    background-color: var(--primary-color) !important;
}

._2kpZl:focus:not(:active),
._2T2dA,
._2W23R:active,
._3OAXJ:hover:not(:active) {
    background-color: var(--hover-color) !important;
}

/* Borders at the top of drop down cards (Courses and Groups) */

._2P7CY:focus,
._3HOk8:hover,
._37jp-:active,
._37jp-:active:focus,
.les2- {
    border-color: var(--border-color) !important;
}

/* Drop down menus (grades and user menu) */

.Header-header-drop-menu-3SaYV {
    background-color: var(--hover-color) !important;
}

a.Header-header-drop-menu-3SaYV:hover {
    background-color: var(--background-color) !important;
}

.Header-header-drop-menu-item-3d3IZ {
    color: white !important;
}

footer .Footer-vertical-divider-3-9qQ a,
footer button {
    background-color: transparent !important;
}

footer._2T2dA {
    background-color: rgb(51, 51, 51) !important;
}

/* Logo */

[data-sgy-sitenav=header-logo]:hover {
    background-color: var(--primary-color) !important;
}

.use-custom-url #header>header nav>ul>li>a._2JX1Q {
    background: var(--background-url) no-repeat !important;
    background-image: var(--background-url) !important;
    background-size: 160px !important;
    background-position: center center !important;
}

/* links inside the container for the added "Archived Courses" link within the Courses dropdown */

.courses-mycourses-droppeddown-link-container .floating-contained-link {
    float: right;
    clear: right;
    display: block;
}

video.easter-egg {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1000;
    overflow: hidden;
    pointer-events: none;
}

.schoology-plus-icon {
    margin-right: 16px !important;
    padding-top: 10px !important;
    --image-opacity: 0.8 !important;
}

.schoology-plus-icon:hover {
    --image-opacity: 1.0 !important;
}

.schoology-plus-icon .icon-unread-requests {
    opacity: var(--image-opacity);
}

.schoology-plus-icon .notifier {
    top: 4px !important;
    right: -4px !important;
    border-radius: 5px;
}

.splus-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10vmin;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.splus-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 800px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.splus-modal-contents {
    max-height: 50vmin;
    overflow: auto;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: rgba(255, 255, 255, 0.8);
    float: right;
    font-size: 32px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.splus-modal-header {
    padding: 2px 16px;
    background-color: var(--primary-color);
    color: white;
}

.splus-modal-body {
    padding: 16px;
}

.splus-modal-footer {
    padding: 2px 16px;
    background-color: var(--primary-color);
    color: white;
}

.splus-modal-title {
    font-size: 32px;
}

.setting-entry {
    margin-bottom: 8px;
}

.setting-modified {
    color: red
}

.splus-modal-button {
    margin-left: 0 !important;
    margin-top: 8px;
}

.splus-modal-body input[type=text],
.splus-modal-body input[type=number] {
    color: #333;
    border: 1px solid #c7c7c7;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    padding: 4px;
}

.splus-modal-content .splus-modal-footer .splus-modal-footer-text a {
    color: white;
    font-weight: normal !important;
}

.splus-modal-body iframe {
    width: 100%;
    height: 100%;
    min-height: 49vmin;
}

.settings-buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.restore-defaults {
    color: red;
    margin-top: 10px;
    font-weight: normal;
}

.margin-under {
    margin-bottom: 10px !important;
}

textarea.setting-item {
    height: unset !important;
    resize: both;
}

input[type=text].setting-item {
    width: 300px;
}

.close-button {
    color: red;
    font-weight: normal;
    font-size: 20px;
}

.export-button {
    color: blue;
    font-weight: normal;
    font-size: 80%;
}

.edit-button {
    color: green;
    font-weight: normal;
    font-size: 80%;
}

.hierarchical-grading-report.show-title.interactive {
    padding: 10px 0 !important;
}

.gradebook-course-title a {
    line-height: 30px !important;
}

.gradebook-course-title a .arrow,
.gradebook-course-title .arrow {
    width: 30px !important;
    height: 30px !important;
}

.gradebook-course-title a .arrow:not(.icon-modified),
.gradebook-course-title .arrow:not(.icon-modified) {
    background-position-y: -145px !important;
}

.gradebook-course-title .awarded-grade {
    padding-top: 5px !important;
}

.profile-picture img.imagecache-profile_sm {
    width: 50px !important;
    height: 50px !important;
}

.splus-broadcast-post {
    background-color: #ddf3fb;
}

.splus-broadcast-close {
    right: 10px;
    position: absolute;
    font-size: 20px;
    top: -5px;
    cursor: pointer;
}

.add-grade-symbol {
    padding-top: 4px;
}

section.sgy-card .sgy-card-lens img.injected-course-icon {
    width: 150px;
    height: 150px;
}

*:not(.submit-span-wrapper)>input[type=button],
*:not(.submit-span-wrapper)>input[type=submit] {
    height: 29px !important;
    vertical-align: middle !important;
    border: 2px solid var(--border-color) !important;
    background-color: var(--primary-color) !important;
}

*:not(.submit-span-wrapper)>input[type=button]:hover,
*:not(.submit-span-wrapper)>input[type=submit]:hover {
    background-color: var(--hover-color) !important;
}

.submit-span-wrapper input[type=button],
.submit-span-wrapperinput[type=submit] {
    height: 25px !important;
    vertical-align: middle !important;
}

.submit-span-wrapper {
    border: 2px solid var(--border-color) !important;
    background-color: var(--primary-color) !important;
}

.submit-span-wrapper:hover {
    background-color: var(--hover-color) !important;
}

.splus-indent-1 {
    text-indent: 2em;
}

.centered-label {
    vertical-align: middle;
}

#nav .courses-action .before-last-li,
#nav .groups-action .before-last-li {
    border-right: 1px solid #ddd;
}

h1.setting-title {
    display: inline;
}

#grading-scale-wrapper {
    margin-top: 7px !important;
}

.bottom-span {
    display: block !important;
    color: grey;
    font-family: "Century Gothic", sans-serif;
    text-align: center;
    padding-bottom: 20px;
    font-size: 14px;
    font-variant: small-caps;
}

.regular-caps {
    font-variant: normal;
}

/*
newfangled trim and UI w/ obfuscated class names
the selector matches inside notifications in the new notifs dropdown
*/

._1wP6w._3ghFm.WfriF .grade-data {
    color: #0a9c78;
}

.s-edge-type-grade-add .grade-data {
    font-size: 12px;
    color: #767676;
}

.popups-body li .user-item .grade-data {
    font-size: 11px;
    color: #3aa406;
    display: block;
}