:root {
    --color-hue: 210;
    --primary-color: hsl(var(--color-hue), 50%, 50%);
    --background-color: hsl(var(--color-hue), 60%, 30%);
    --hover-color: hsl(var(--color-hue), 55%, 40%);
    --link-color: var(--hover-color);
    --border-color: hsl(var(--color-hue), 60%, 25%);
    --contrast-text-color: white;
    --dark-text-color: #333;
    --cursor: auto;
    --background-url: none;
    cursor: var(--cursor);
}

/* Navbar items */

._1SIMq {
    background-color: var(--primary-color) !important;
}

nav,
nav li button._1Z0RM,
nav li a._1Z0RM {
    background-color: var(--primary-color) !important;
}

header {
    border-top-color: var(--border-color) !important;
}

nav button._1wP6w,
nav a._1Z0RM {
    color: var(--contrast-text-color) !important;
}

nav button svg.KebabIcon-kebab-icon-2-N7X {
    filter: Invert(1) !important;
}

._2kpZl:focus:not(:active),
._2T2dA,
._2W23R:active,
._3OAXJ:hover:not(:active),
nav li button._1Z0RM:hover:not(:active),
nav li button._1Z0RM:focus:not(:active),
nav li a._1Z0RM:hover:not(:active),
nav li a._1Z0RM:focus:not(:active) {
    background-color: var(--hover-color) !important;
}

/* Borders at the top of drop down cards (Courses and Groups) */

._2P7CY:focus,
._3HOk8:hover,
._37jp-:active,
._37jp-:active:focus,
.les2- {
    border-color: var(--border-color) !important;
}

/* Drop down menus (grades, applications, and user menu) */

/* Kept old classes to remain compatible with older versions of Schoology */
.StandardHeader-header-drop-menu-YShpU,
.Header-header-drop-menu-3SaYV {
    background-color: var(--hover-color) !important;
}

a.StandardHeader-header-drop-menu-YShpU:hover,
.StandardHeader-header-drop-menu-YShpU li a:hover,
a.Header-header-drop-menu-3SaYV:hover,
.Header-header-drop-menu-3SaYV li a:hover {
    background-color: var(--background-color) !important;
}

._1k0yk:hover:not(:active), ._3hqpj, ._3JcU2:active, ._3VHSs:focus:not(:active) {
    background-color: var(--background-color) !important;
}

[class*="StandardHeader-header-drop-menu-item-"],
[class*="StandardHeader-header-drop-menu-"] li a * {
    color: var(--contrast-text-color) !important;
}

footer .Footer-vertical-divider-3-9qQ a,
footer button {
    background-color: transparent !important;
}

#site-navigation-footer > div._3W1Kw,
footer._2T2dA {
    background-color: var(--primary-color) !important;
}

/* Logo */

[data-sgy-sitenav=header-logo]:hover {
    background-color: var(--primary-color) !important;
}

/* This version is used for the old header style (pre 23/24 school year) */
.use-custom-url #header>header nav>ul>li>a._2JX1Q:not(:has(> div._3UYz2)) {
    background: var(--background-url) no-repeat !important;
    background-image: var(--background-url) !important;
    background-size: 160px !important;
    background-position: center center !important;
    height: 60px !important;
    margin-top: 0 !important;
}

/* This version is used for the new header style (23/24 school year) */
.use-custom-url #header>header nav>ul>li>a._2JX1Q div._3UYz2 {
    background: var(--background-url) no-repeat !important;
    background-image: var(--background-url) !important;
    background-size: 160px !important;
    background-position: center center !important;
    height: 60px !important;
    margin-top: 0 !important;
}

/* links inside the container for the added "Archived Courses" link within the Courses dropdown */

.courses-mycourses-droppeddown-link-container .floating-contained-link {
    float: right;
    clear: right;
    display: block;
}

.splus-coursesdropdown-reorder-btn {
    width: 2rem;
    height: 2rem;
    padding-left: 1.25rem;
}

.splus-coursesdropdown-reorder-btn:hover {
    cursor: pointer;
}

video.easter-egg {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1000;
    overflow: hidden;
    pointer-events: none;
}

.schoology-plus-icon {
    margin-right: 16px !important;
    padding-top: 10px !important;
    --image-opacity: 0.8 !important;
}

.schoology-plus-icon:hover {
    --image-opacity: 1.0 !important;
}

.schoology-plus-icon .icon-unread-requests {
    opacity: var(--image-opacity);
}

.schoology-plus-icon .notifier {
    top: 4px !important;
    right: -4px !important;
    border-radius: 5px;
}

.splus-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10vmin;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.splus-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 800px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.splus-modal-contents {
    max-height: 50vmin;
    overflow: auto;
}

.splus-modal-contents.ui-tabs {
    border: none !important;
    background: none !important;
}

.splus-modal-contents select {
    font-size: 16px !important;
}

.splus-modal-contents .ui-tabs-nav {
    background-color: var(--primary-color) !important;
    border: none !important;
    border-bottom: 1px solid var(--primary-color) !important;
}

.splus-modal-contents.ui-tabs .ui-tab {
    background-color: var(--primary-color) !important;
    border: none !important;
}

.splus-modal-contents.ui-tabs .ui-tab .ui-tabs-anchor {
    color: var(--contrast-text-color) !important;
    font-size: 14px;
    text-decoration: underline;
}

.splus-modal-contents.ui-tabs .ui-tab.ui-tabs-active {
    background-color: var(--background-color) !important;
}

.splus-underline-heading {
    text-decoration: underline;
    margin-bottom: 5px;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(359deg);
    }
  }

.close {
    color: rgba(255, 255, 255, 0.8);
    float: right;
    font-size: 32px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--contrast-text-color);
    text-decoration: none;
    cursor: pointer;
}

.splus-modal-header {
    padding: 2px 16px;
    background-color: var(--primary-color);
    color: var(--contrast-text-color) !important;
}

.splus-modal-title {
    color: var(--contrast-text-color) !important;
}

.splus-modal-body {
    padding: 16px;
}

.splus-modal-footer {
    padding: 2px 16px;
    background-color: var(--primary-color);
    color: var(--contrast-text-color);
}

.splus-modal-title {
    font-size: 32px;
}

.setting-entry {
    margin-bottom: 8px;
}

.setting-modified {
    color: red
}

.splus-modal-button {
    margin-left: 0 !important;
    margin-top: 8px;
}

.splus-modal-body input[type=text],
.splus-modal-body input[type=number] {
    color: #333;
    border: 1px solid #c7c7c7;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    padding: 4px;
}

.splus-modal-content .splus-modal-footer .splus-modal-footer-text a {
    color: var(--contrast-text-color);
    font-weight: normal !important;
}

.splus-modal-body iframe {
    width: 100%;
    height: 100%;
    min-height: 49vmin;
}

.settings-buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}

.settings-actions-wrapper {
    margin-top: 10px;
    font-weight: normal;
}

.settings-actions-wrapper > a,
.settings-actions-wrapper > span {
    margin-left: 10px;
    margin-right: 10px;
}

.restore-defaults {
    color: red !important;
}

.margin-under {
    margin-bottom: 10px !important;
}

textarea.setting-item {
    height: unset !important;
    resize: both;
}

input[type=text].setting-item {
    width: 300px;
}

.close-button {
    color: red !important;
    font-weight: normal;
    font-size: 20px;
}

.export-button {
    color: blue;
    font-weight: normal;
    font-size: 80%;
}

.edit-button {
    color: green;
    font-weight: normal;
    font-size: 80%;
}

.sortable-container {
    display: flex;
}

.sortable-container .sidebar-sortable {
    background-color: var(--primary-color) !important;
    min-height: 200px;
    padding: 5px;
}

.sortable-container .sortable-list {
    margin: 10px;
    width: 50%;
}

.sortable-container .sortable-list .sortable-item::before {
    content: "⡇";
    padding-right: 5px;
}

.sortable-container .sortable-list .sortable-item {
    background-color: var(--background-color);
    color: var(--contrast-text-color) !important;
    font-size: 14px;
    padding: 7px 5px 5px 5px;
    margin: 5px;
    cursor: grab;
}

.sortable-container .sortable-list .ui-sortable-helper {
    cursor: grabbing;
}

.hierarchical-grading-report.show-title.interactive {
    padding: 10px 0 !important;
}

.gradebook-course-title a {
    line-height: 30px !important;
}

.gradebook-course-title a .arrow,
.gradebook-course-title .arrow {
    width: 30px !important;
    height: 30px !important;
}

.gradebook-course-title a .arrow:not(.icon-modified),
.gradebook-course-title .arrow:not(.icon-modified) {
    background-position-y: -145px !important;
}

.gradebook-course-title .awarded-grade {
    padding-top: 5px !important;
}

.grade-active-color {
    color: #3aa406;
}

.grade-none-color {
    color: #767676;
}

.profile-picture img.imagecache-profile_sm {
    width: 50px !important;
    height: 50px !important;
}

.splus-broadcast-post {
    background-color: #ddf3fb;
}

.splus-broadcast-close {
    right: 10px;
    position: absolute;
    font-size: 20px;
    top: -5px;
    cursor: pointer;
}

.add-grade-symbol {
    padding-top: 4px;
}

section.sgy-card .sgy-card-lens img.injected-course-icon {
    width: 150px;
    height: 150px;
}

*:not(.submit-span-wrapper)>input[type=button],
*:not(.submit-span-wrapper)>input[type=submit] {
    height: 32px !important;
    vertical-align: middle !important;
    border: 2px solid var(--border-color) !important;
    background-color: var(--primary-color) !important;
}

*:not(.submit-span-wrapper)>input[type=button]:hover,
*:not(.submit-span-wrapper)>input[type=submit]:hover {
    background-color: var(--hover-color) !important;
}

.submit-span-wrapper input[type=button],
.submit-span-wrapper input[type=submit] {
    height: 25px !important;
    vertical-align: middle !important;
    color: var(--contrast-text-color) !important;
    padding: 4px 8px !important;
}

.submit-span-wrapper, .submit-span-wrapper[style] {
    border: 2px solid var(--border-color) !important;
    background: var(--primary-color) !important;
}

.submit-span-wrapper:hover {
    background-color: var(--hover-color) !important;
}

.splus-indent-1 {
    text-indent: 2em;
}

.centered-label {
    vertical-align: middle;
}

#nav .courses-action .before-last-li,
#nav .groups-action .before-last-li {
    border-right: 1px solid #ddd;
}

h1.setting-title {
    display: inline;
}

#popups-overlay,
.active-loader .loading-overlay {
    /* Modern-Compatible, however will default back to normal if Modern is not enabled.*/
    background-color: var(--primary, var(--primary-color));
}

.popups-body .no-answer-provided {
    background: url('https://app.schoology.com/sites/all/themes/schoology_theme/images/error_404.png') no-repeat 0 0;
    padding: 0 0 0 25px;
    font-weight: bold;
}

#grading-scale-wrapper {
    margin-top: 7px !important;
}

.footer-divider,
.footer-divider>span {
    margin-left: 15px;
}

.no-margins {
    margin: 0 !important;
}

.small-top-margin {
    margin-top: 4px !important;
}

.splus-broadcast-title {
    font-size: 14px;
}

#enable-modify {
    margin-top: 10px !important;
}

.course-list-icon {
    float: left;
    padding: 7px 16px 7px 7px;
    width: 48px;
}

/*
#139 fix
Make accept and cancel buttons similarly styled throughout the UI
*/
#popup_cancel,
.cancel-btn {
    background-color: #666 !important;
    color: var(--contrast-text-color) !important;
}

#popup_cancel:hover,
.cancel-btn:hover {
    background-color: #444 !important;
}

.cancel-btn {
    border: 2px solid var(--border-color) !important;
    background-image: none !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.popups-buttons span {
    border: none !important;
}

/*
newfangled trim and UI w/ obfuscated class names
the selector matches inside notifications in the new notifs dropdown
*/

._1wP6w._3ghFm.WfriF .grade-data {
    color: #0a9c78;
}

.s-edge-type-grade-add .grade-data {
    font-size: 12px;
    color: #767676;
}

.popups-body li .user-item .grade-data {
    font-size: 11px;
    color: #3aa406;
}

#popups-overlay {
    width: 100% !important;
}

.splus-modal-open {
    overflow: hidden;
}

.popups-small {
    left: calc(50vw - 225px) !important;
}

.popups-large {
    left: calc(50vw - 300px) !important;
}

._pendo-launcher-badge_ {
    visibility: var(--help-center-fab-visibility) !important;
}

.quick-link-wrapper {
    padding-top: 5px;
}

.quick-course-link {
    max-width: 225px;
    display: inline-block;
}

.quick-access-course .splus-course-icon {
    width: 18px;
    height: 18px;
    margin-right: 4px;
    border: none !important;
    display: inline-block;
    vertical-align: top;
}

.quick-link:not(:first-of-type)::before,
.quick-link:not(:first-of-type):hover::before {
    content: "•";
    padding: 0 4px;
    display: inline-block;
}

.quick-right-link {
    float: right;
    text-transform: none !important;
    font-weight: normal !important;
    font-size: 12px !important;
}

.quick-access-course .icon {
    width: 22px;
    height: 22px;
    padding-left: 3px;
    background-image: url(https://asset-cdn.schoology.com/sites/all/themes/schoology_theme/images/icons_sprite_med.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.quick-access-course .icons-container {
    float: right;
}

.quick-access-course .icon.icon-grades {
    background-position: 5px -125px;
}

.quick-access-course .icon.icon-mastery {
    background-position: 5px -1325px;
}

.quick-access-course .icon.icon-settings {
    background-position: 5px -475px;
}

.quick-access-course .icon.icon-quicklink {
    background-position: 5px -1225px;
}

.quick-access-course .icon.icon-grades:hover {
    background-position: 5px -100px;
}

.quick-access-course .icon.icon-mastery:hover {
    background-position: 5px -1300px;
}

.quick-access-course .icon.icon-settings:hover {
    background-position: 5px -450px;
}

.quick-access-course .icon.icon-quicklink:hover {
    background-position: 5px -1200px;
}

.quick-access-no-courses {
    padding-top: 5px;
}

.quick-access-course {
    padding-top: 5px;
}

.splus-logo-inline {
    height: 18px;
    color: currentColor;
    vertical-align: middle;
    padding-right: 3px;
}

.courses-kabob-menu {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

body a,
body .clickable,
body .smart-box .filter-block li a,
body #content-left-top .item-list li a,
body .popups-tab,
body .enrollment-filters span,
body .grading-groups-list .grading-group,
body #grading-group- span.ajax-post-comment,
span[role=button],
.period-row .title,
.category-row .title,
._2mWUT a,
div._3U8Br {
    color: var(--link-color) !important;
}

body #nav ul li a:hover,
body #nav #primary-home a:hover,
body #nav #profile a:hover,
body .primary-activities .clickable:hover,
body .primary-activities .active,
body #nav ul li.active-trail a,
body .ac_results ul .ac_over .ac-top,
body .schoology:hover,
body .ac_over .schoology,
body .action-links a:hover,
body .action-links span:hover,
body .edit-profile-picture-hover:hover,
body .edit-profile-picture-hover.active,
body #sidebar-left .action-links a:hover,
.component-add-link:hover,
body .search-toggle:hover,
#edit-course-switcher-select-nid-menu .ui-selectmenu-group li a:hover,
body #primary-settings .unfold:hover,
ul.tabs li a.active,
#nav ul li a:hover {
    background-color: var(--link-color) !important;
    color: var(--contrast-text-color) !important;
}

body a.link-btn,
ul.tabs li a {
    color: var(--dark-text-color) !important;
}

footer li a,
footer div button,
#copyright,
footer li.Footer-vertical-divider-3-9qQ::after,
header li a,
.splus-modal-footer-text a,
body a.link-btn.active,
div.courses-left-menu,
.portfolio-list a.btn,
a._3_bfp {
    color: var(--contrast-text-color) !important;
}

.setting-highlight {
    background-color: lightyellow !important;
}

.course-dashboard section.sgy-card img.injected-course-icon {
    height: 80% !important;
}

.splus-beta-container {
    position: fixed;
    left: 3px;
    top: 12px;
    z-index: 9999;
    color: var(--contrast-text-color) !important;
    border: 2px solid var(--contrast-text-color);
    border-radius: 10px;
    background-color: dodgerblue;
    padding: 5px 8px;
    width: 10px;
    height: 20px;
}

.splus-beta-container:hover {
    width: unset;
    height: unset;
}

.splus-beta-container h3 {
    color: var(--contrast-text-color) !important;
    border-bottom: 1px solid var(--contrast-text-color) !important;
}

.splus-beta-tag {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.splus-beta-container:hover .splus-beta-tag::after {
    content: "eta Enabled";
}

.splus-beta-container:hover .splus-beta-tag::before {
    content: "⚙";
    float: right;
    padding-left: 5px;
}

.splus-beta-container div {
    display: none;
}

.splus-beta-container:hover div {
    display: block;
    padding-top: 5px;
}

.splus-beta-container div input[type=checkbox] {
    vertical-align: middle;
    float: left;
    margin-right: 10px;
}

.iziToast-body>img.iziToast-icon {
    max-width: 24px !important;
    display: block !important;
}

.upcoming-list:not(.splus-mark-completed-check) .splus-completed-check-indicator {
    display: none !important;
}

/* ---- Hotfix for missized timer icons ---- */
.upcoming-list .upcoming-event {
    align-items: flex-start !important;
}

.upcoming-list .upcoming-event * {
    flex-basis: fit-content;
}

.upcoming-list .upcoming-event > .infotip.submission-infotip {
    margin-top: 2rem !important;
    display: var(--to-do-list-icons-display, "block");
}
/* ---------------------------------------- */

.splus-mark-completed-check .infotip {
    width: 90% !important;
}

/* .splus-completed-check-indicator is a <button> */
.splus-mark-completed-check .splus-completed-check-indicator {
    max-width: 10%;
    display: inline-block;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 200% !important;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.splus-mark-completed-check .upcoming-subevents-block .splus-completed-check-indicator {
    position: absolute;
    right: 16px;
    top: 0;
}

.splus-mark-completed-check .splus-assignment-notcomplete .splus-completed-check-indicator::after {
    color: var(--muted-text) !important;
    content: "▢";
}

.splus-mark-completed-check .splus-assignment-complete .splus-completed-check-indicator::after {
    color: green !important;
    content: "✔";
}

/* "loading" state to avoid vertical scrolling when transitioning from 'forced completed' to 'query state' */
/* animated spin. default center,center rotate origin appears to be slightly off, but not likely to be noticeable for <1s load times. */
.splus-mark-completed-check .upcoming-event:not(.upcoming-subevents-block):not(.splus-assignment-complete):not(.splus-assignment-notcomplete) .splus-completed-check-indicator {
    animation: rotation 0.8s infinite linear;
}

.splus-mark-completed-check .upcoming-event:not(.upcoming-subevents-block):not(.splus-assignment-complete):not(.splus-assignment-notcomplete) .splus-completed-check-indicator::after {
    color: var(--muted-text) !important;
    content: "⚆";
}

.splus-mark-completed-strikethrough .splus-assignment-complete .infotip a[href] {
    text-decoration: line-through !important;
}

.splus-mark-completed-hide .splus-assignment-complete {
    display: none !important;
}

#header.site-navigation {
    background: transparent !important;
}

/* :root .darktheme-toggle-navbar-path {
    fill: transparent;
    stroke: white;
} */

:root[modern=false] #darktheme-toggle-navbar-button {
    display: none;
    padding: 0 14px;
}

:root[modern=true] #darktheme-toggle-navbar-button {
    fill: currentColor;
    stroke: none;
    padding: 0 14px;
}

:root[modern=false][dark] #darktheme-toggle-navbar-button {
    display: inline-block;
    stroke:currentColor;
    stroke-width: 20pt;
    fill: transparent;
}

#darktheme-toggle-navbar-button .explanation-popup {
    display: none;
}

#darktheme-toggle-navbar-button svg {
    width: 27px;
    height: 33px;
}

:root[modern=true] #darktheme-toggle-navbar-button svg {
    width: 27px;
    height: 30px;
}

.splus-button-tile-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-auto-rows: 100px;
    gap: 20px 0;
    justify-content: space-evenly;
    margin: 10px 0;
}

.splus-button-tile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid currentColor;
    border-radius: 5px;
}

.splus-button-tile.active {
    border: 1px solid var(--primary-color);
    background-color: #ddf3fb;
}

.splus-button-tile:hover {
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

.splus-button-tile-content {
    font-weight: bold;
    text-align: center;
    pointer-events: none;
    font-size: 14px;
    font-weight: bold;
}

.select-theme-tile[data-new=true] .splus-button-tile-content::before {
    content: "NEW!";
    margin-right: 5px;
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    background: var(--primary-color);
}

#center-wrapper.splus-api-key-page {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#center-inner.splus-api-key-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    border: 2px solid black;
    border-radius: 10px;
}

#center-inner.splus-api-key-page #center-top .page-title,
#center-inner.splus-api-key-page #content-wrapper form p.description,
#center-inner.splus-api-key-page .submit-span-wrapper:not(.splus-modal-button) {
    display: none;
}

.splus-allow-access {
    display: block !important;
    margin: 10px 0 !important;
}

.splus-allow-access input {
    width: 100%;
}

.splus-permissions-icon {
    width: 256px;
    padding: 10px;
}

.splus-permissions-icon-wrapper {
    display: flex;
    justify-content: center;
}

.splus-permissions-wrapper {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.splus-permissions-box {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.splus-permissions-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.splus-permissions-title {
    text-align: center;
    padding-bottom: 10px;
    width: 400px;
}

.splus-permissions-description {
    text-align: center;
    font-size: 14px;
    width: 400px;
}

.splus-permissions-link {
    text-align: center;
    font-size: 14px;
    color: white !important;
    text-decoration: underline;
}

.splus-permissions-description strong {
    font-size: 16px;
    text-decoration: underline;
}

.splus-permissions-section {
    padding-top: 10px;
}

.splus-permissions-features-list {
    text-align: left;
    font-size: 14px;
    padding: 0 100px;
    list-style: disc !important;
    list-style-position: inside !important;
}

.splus-permissions-never-list {
    text-align: left;
    font-size: 14px;
    padding: 0 10%;
    list-style: disc !important;
    list-style-position: inside !important;
}

.splus-permissions-close {
    position: absolute;
    left: 69%;
    top: 5%;
    font-size: xx-large;
    cursor: pointer;
}
