:root {
    --color-hue: 210;
    --primary-color: hsl(var(--color-hue), 50%, 50%);
    --primary-light: hsl(var(--color-hue), 70%, 60%);
    --primary-dark: hsl(var(--color-hue), 55%, 40%);
    --primary-very-dark: hsl(var(--color-hue), 90%, 50%);
}

body #header {
    background-color: var(--primary-color) !important;
}

.s-enable-course-dashboard.is-home #nav ul #primary-home a,
.s-enable-course-dashboard.is-home #nav ul #primary-home {
    background-color: unset !important;
}

#nav #nav_left li#primary-home:hover,
.s-enable-course-dashboard.is-home #nav ul #primary-home a:hover,
#nav #nav_left li.primary-activities:hover,
#nav #nav_left li.primary-activities.active,
.s-enable-course-dashboard.is-home #nav ul #primary-home:hover {
    background-color: var(--primary-dark) !important;
    color: white;
}

body #nav #primary-home a:hover,
body #nav #profile a:hover,
body .primary-activities .clickable:hover,
body .primary-activities .active,
body #nav ul li.active-trail a,
body .ac_results ul .ac_over .ac-top,
body .schoology:hover,
body .ac_over .schoology,
body .action-links a:hover,
body .action-links span:hover,
body .edit-profile-picture-hover:hover,
body .edit-profile-picture-hover.active,
body #sidebar-left .action-links a:hover,
.component-add-link:hover,
body .search-toggle:hover,
body #primary-settings .unfold:hover {
    background-color: var(--primary-dark) !important;
    color: white !important;
}

body .search-toggle,
body #primary-settings .unfold {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-light) !important;
}

body #nav ul #home a {
    background: unset !important;
}

body .submit-span-wrapper,
body .click-submit,
body .submit-btn,
body .popups-body .submit-span-wrapper,
body #nav .s-notifications-mini .requester-links a:hover {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-very-dark) !important;
}

video.easter-egg {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1000;
    overflow: hidden;
    pointer-events: none;
}

.activities-dropdown-wrapper ul {
    max-height: unset !important;
}

#nav_left>li.primary-activities {
    padding-bottom: 2px !important;
}

#nav_left>li#primary-home {
    padding-bottom: 2px !important;
    height: 37px !important;
}

.schoology-plus-icon {
    margin-right: 10px !important;
    padding-top: 10px !important;
    --image-opacity: 0.8 !important;
}

.schoology-plus-icon:hover {
    --image-opacity: 1.0 !important;
}

.schoology-plus-icon .icon-unread-requests {
    opacity: var(--image-opacity);
}

.schoology-plus-icon .notifier {
    top: 4px !important;
    right: -4px !important;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 800px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: rgba(255, 255, 255, 0.8);
    float: right;
    font-size: 32px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: var(--primary-color);
    color: white;
}

.modal-body {
    padding: 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: var(--primary-color);
    color: white;
}

.modal-title {
    font-size: 32px;
}

.setting-entry {
    margin-bottom: 8px;
}

.setting-modified {
    color: red
}

.modal-button {
    margin-left: 0 !important;
    margin-top: 8px;
}

.modal-body input[type=text],
.modal-body input[type=number] {
    color: #333;
    border: 1px solid #c7c7c7;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    padding: 4px;
}

.modal-content .modal-footer .modal-footer-text a {
    color: white !important;
    font-weight: normal !important;
}