.gradebook-course-title span.injected-title-grade {
    float: right;
    font-weight: bold;
    font-size: 14px;
}

.grade-active-color {
    color: #3aa406;
}

.grade-none-color {
    color: #767676;
}

tr.item-row td.grade-column div.td-content-wrapper {
    padding: 7px 10px 5px !important;
    text-align: center;
}

div.tier-injected-score {
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}

.gradebook-course.hierarchical-grading-report .grade-column-right .td-content-wrapper {
    padding: 15px 0px !important;
    text-align: right;
}

.grade-column-center {
    text-align: center !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.gradebook-course-grades table {
    table-layout: fixed;
}

col.assignment-colum {
    width: 50%;
}

col.points-column {
    width: 20%;
}

col.comments-column {
    width: 30%;
}

.grade-edit-indicator {
    vertical-align: top;
    position: absolute;
    bottom: 0px;
    display: none;
}

.grade-add-indicator {
    display: none;
}

.grade-add-indicator span.title {
    font-style: italic;
}

.grade-add-indicator img.add-assignment-icon {
    width: 12px;
}


/* to allow "absolute" position of edit icon" */

.item-row .grade-column .grade-wrapper {
    position: relative;
}

.grade-column .student-editable {
    padding: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: #767676;
}


/* to compensate for the added edit icon */


/*
.injected-assignment-percent {
    padding-right: 6px;
}
*/

.modified-score-percent-warning {
    vertical-align: middle;
    position: absolute;
}

.item-row img.modified-score-percent-warning {
    width: 11px;
}

.category-row img.modified-score-percent-warning {
    width: 12px;
}

.period-row img.modified-score-percent-warning {
    width: 13px;
}

.relative-span-contain {
    position: relative;
}

.grade-column-right .modified-score-percent-warning {
    position: static;
    padding-right: 2px;
    padding-bottom: 1px;
}

.grade-column-center .modified-score-percent-warning {
    padding-top: 1px;
}

input#enable-modify {
    float: right;
    margin: 8px 5px;
}

.modify-label {
    float: right;
    padding: 8px 0;
}

.grade-add-indicator.hidden,
.report-row.item-row.hidden {
    display: none !important;
}

.gradebook-course.hierarchical-grading-report .grade-column .percentage-grade {
    color: #767676;
    font-size: 12px;
    font-weight: normal;
}

.kabob-menu {
    margin-left: 10px;
    font-size: 16px;
    font-weight: normal;
    float: right;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grade-add-indicator .kabob-menu {
    display: none;
}