.gradebook-course-title span.injected-title-grade {
    float: right;
    font-weight: bold;
    font-size: 14px;
}

.grade-active-color {
    color: #3aa406;
}

.grade-none-color {
    color: #767676;
}

tr.item-row td.grade-column div.td-content-wrapper {
    padding: 7px 10px 5px !important;
    text-align: center;
}

div.tier-injected-score {
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}

.gradebook-course.hierarchical-grading-report .grade-column-right .td-content-wrapper {
    padding: 15px 0px !important;
    text-align: right;
}

.grade-column-center {
    text-align: center;
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.gradebook-course-grades table {
    table-layout: fixed;
}

col.assignment-colum {
    width: 50%;
}

col.points-column {
    width: 20%;
}

col.comments-column {
    width: 30%;
}