/* Grade tooltip CSS, as used on materials page */
.schoologyplus-tooltip .tooltip-footer {
    color: #aaaaaa;
    font-size: 9px;
}

.schoologyplus-tooltip .tooltip-footer .tooltip-horiz-divider {
    color: #808080;
}

.schoologyplus-tooltip .error-message {
    color: #cc6666;
}

.assignment-tooltip .exception-excused {
    color: #8fdb8f;
}

.assignment-tooltip .exception-incomplete {
    color: #f7c438;
}

.assignment-tooltip .exception-missing {
    color: #f7c438;
}

.assignment-tooltip .exception-max-pts-info {
    color: #aaaaaa;
    font-size: 10px;
}

.assignment-tooltip .tooltip-dropped-indicator {
    color: #00ff00;
    font-weight: bold;
}

/*
.assignment-tooltip .tooltip-dropped-gradeinfo {
    text-decoration: line-through;
}
*/

.assignment-tooltip .tooltip-dropped-gradeinfo::before {
    content: "[";
    color: #aa42c4;
}

.assignment-tooltip .tooltip-dropped-gradeinfo::after {
    content: "]";
    color: #aa42c4;
}

.assignment-tooltip .tooltip-grade-info {
    color: #94cfff;
}

.assignment-tooltip .tooltip-grade-info .tooltip-horiz-divider {
    color: #6f99bb;
}

.document-tooltip .preview-canvas {
    border: 1px solid black;
}

.schoologyplus-master-canvas {
    display: none;
}