variable-intellisense {
    --modern-primary: #36393F;
    --modern-accent: #2F3136;
    --modern-secondary: #202225;
    --modern-text: #DCDDDE;
    --modern-contrast-text: #EEEEEE;
    --modern-muted-text: #72767D;
    --modern-contrast-border: #DCDDDE;
    --modern-input: #40444B;
    --modern-error: #F44336;
    --modern-highlight: rgba(184, 134, 11, 0.2);
    --modern-active: rgba(0, 255, 255, 0.1);
    --modern-grades: #8BC34A;
    --modern-border-radius: 5px;
    --modern-border-size: 1px;
    --modern-padding: 10px;
    --modern-theme-is-dark: 1;
    --modern-cal1: #457da5;
    --modern-cal2: #547c41;
    --modern-cal3: #926c37;
    --modern-cal4: #7c3d6b;
    --modern-cal5: #0b4c9c;
    --modern-cal6: #00209c;
    --modern-cal7: #004a09;
    --modern-cal8: #72721a;
    --modern-cal9: #44233e;
    --modern-cal10: #683131;
    --modern-cal11: #770a0a;
    --modern-cal12: #a72413;
    --modern-cal13: #E0024C;
    --modern-cal14: #188C16;
    --modern-cal15: #bd7304;
    --modern-cal16: #80168C;
    --modern-cal17: #164152;
    --modern-cal18: #00543f;
    --modern-cal19: #633e11;
    --modern-cal20: #461b2d;
}

:root[modern=true] {
    &[dark=true] {
        // anything dark specific? maybe an inverting icon example?
    }

    body {
        background-color: var(--modern-secondary);
    }

    * {
        color: var(--modern-text) !important;
    }

    .modern-primary {
        background-color: var(--modern-primary) !important;
    }

    .modern-secondary {
        background-color: var(--modern-secondary) !important;
    }

    .modern-accent {
        background-color: var(--modern-accent) !important;
    }

    .modern-input {
        background-color: var(--modern-input) !important;
    }

    .modern-highlight {
        background-color: var(--modern-highlight) !important;
    }

    .modern-active {
        background-color: var(--modern-active) !important;
    }

    .modern-error {
        background-color: var(--modern-error) !important;
    }

    .modern-grades {
        color: var(--modern-grades) !important;
    }

    .modern-text {
        color: var(--modern-text) !important;
    }

    .modern-contrast-text {
        color: var(--modern-contrast-text) !important;
    }

    .modern-muted-text {
        color: var(--modern-muted-text) !important;
    }

    .modern-border {
        border: var(--modern-border-size) solid var(--modern-contrast-border) !important;
    }

    .modern-border-radius {
        border-radius: var(--modern-border-radius) !important;
    }

    .modern-padding {
        padding: var(--modern-padding) !important;
    }

    .modern-black {
        color: black !important;
    }

    .collection a.collection-item {
        background-color: var(--modern-primary);
    }

    .collection-item.active {
        background-color: var(--modern-active) !important;
    }

    svg, svg * {
        color: var(--modern-contrast-text) !important;
    }

    #preview-profile-pic {
        border-color: var(--modern-contrast-text) !important;
    }

    .material-tooltip {
        background-color: var(--modern-secondary);
        border: var(--modern-border-size) solid var(--modern-contrast-border);
        border-radius: var(--modern-border-radius);
    }

    .rs-bg-color {
        background-color: var(--modern-input);
    }

    input[type=range] {
        border: var(--modern-border-size) solid var(--modern-contrast-border);
    }
}